USE [QL_MUABANLINHKIEN1]
GO
/****** Object:  StoredProcedure [dbo].[thanhtiencthd]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[thanhtiencthd] @mahd char(10), @masp char(10)
as
	update ct_hoadon
	set thanhtien = soluong * (select gia from sanpham where masp = @masp)
	where mahd = @mahd and masp = @masp


GO
/****** Object:  StoredProcedure [dbo].[thanhtiencthddv]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[thanhtiencthddv] @sohd char(10), @madv char(10)
as
	update CT_HD_DICHVU
	set THANHTIEN = SOLUONGDV * (select DONGIA from DICHVU where madv = @madv)
	where sohd = @sohd and madv = @madv

GO
/****** Object:  StoredProcedure [dbo].[tongtienhd]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tongtienhd] @mahd char(10)
as
	update hoadon
	set tongtien = (select sum(thanhtien) from ct_hoadon where ct_hoadon.mahd = hoadon.mahd)
	where mahd = @mahd

select * from CT_HD_DICHVU

GO
/****** Object:  StoredProcedure [dbo].[tongtienhddv]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tongtienhddv] @sohd char(10)
as
	update HD_DICHVU
	set tongtien = (select sum(thanhtien) from ct_hd_dichvu where ct_hd_dichvu.sohd = HD_DICHVU.sohd)
	where sohd = @sohd

GO
/****** Object:  StoredProcedure [dbo].[tongtienpdh]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tongtienpdh] @sophieu char(10)
as
	update phieudathang
	set tongtien = (select sum(thanhtien) from ct_phieudathang where ct_phieudathang.sophieu = phieudathang.sophieu)
	where sophieu = @sophieu

GO
/****** Object:  Table [dbo].[CT_HD_DICHVU]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HD_DICHVU](
	[SOHD] [char](10) NOT NULL,
	[MADV] [char](10) NOT NULL,
	[SOLUONGDV] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CT_HD_DV] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CT_HD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUDATHANG]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUDATHANG](
	[SOPHIEU] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CTPD] PRIMARY KEY CLUSTERED 
(
	[SOPHIEU] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MAPN] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_PN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUXUAT]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUXUAT](
	[MAPX] [char](10) NOT NULL,
	[MASP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](30) NULL,
	[DONGIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HD_DICHVU]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HD_DICHVU](
	[SOHD] [char](10) NOT NULL,
	[NGAYLAP] [char](10) NULL,
	[TENKH] [nvarchar](30) NULL,
	[SDT] [char](12) NULL,
	[TONGTIEN] [money] NULL,
	[MANV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[SDT] [char](12) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [money] NULL,
	[MANV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [char](10) NOT NULL,
	[TENKHO] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
	[MAKHO] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[DIACHI] [nvarchar](40) NULL,
	[SDT] [char](12) NULL,
	[NGAYVAOLAM] [date] NULL,
	[CHUCVU] [nvarchar](20) NULL,
	[TAIKHOAN] [char](10) NULL,
	[MATKHAU] [char](12) NULL,
	[MANQL] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDATHANG]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDATHANG](
	[SOPHIEU] [char](10) NOT NULL,
	[NGAYLAP] [date] NULL,
	[MANQL] [char](10) NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP_KHO]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP_KHO](
	[MAPN] [char](10) NOT NULL,
	[MANCC] [char](10) NULL,
	[NGAYLAP] [date] NULL,
	[MANV] [char](10) NULL,
	[GHICHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT_KHO]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT_KHO](
	[MAPX] [char](10) NOT NULL,
	[NGAYLAP] [date] NULL,
	[MANV] [char](10) NULL,
	[GHICHU] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/17/2020 9:13:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](10) NOT NULL,
	[TENSP] [nvarchar](30) NULL,
	[GIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[MALOAI] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CT_HD_DICHVU] ([SOHD], [MADV], [SOLUONGDV], [THANHTIEN]) VALUES (N'HDDV001   ', N'DV001     ', 2, 400000.0000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD001     ', N'SP003     ', 1, 500000000.0000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [SOLUONG], [THANHTIEN]) VALUES (N'HD006     ', N'SP002     ', 4, 800000000.0000)
INSERT [dbo].[CT_PHIEUDATHANG] ([SOPHIEU], [MASP], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'PDH004    ', N'SP001     ', 5, 21661121.0000, 108305605.0000)
INSERT [dbo].[CT_PHIEUDATHANG] ([SOPHIEU], [MASP], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'PDH004    ', N'SP003     ', 5, 520000.0000, 2600000.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([MAPN], [MASP], [SOLUONG]) VALUES (N'PN001     ', N'SP002     ', 5)
INSERT [dbo].[CT_PHIEUNHAP] ([MAPN], [MASP], [SOLUONG]) VALUES (N'PN002     ', N'SP002     ', 25)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV001     ', N'Sửa chữa', 200000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV002     ', N'Thay linh kiện', 300000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA]) VALUES (N'DV003     ', N'Vệ sinh', 50000.0000)
INSERT [dbo].[HD_DICHVU] ([SOHD], [NGAYLAP], [TENKH], [SDT], [TONGTIEN], [MANV]) VALUES (N'HDDV001   ', N'01/01/2020', N'Phan Anh Vũ', N'02145475246 ', 500000000.0000, N'NV002     ')
INSERT [dbo].[HD_DICHVU] ([SOHD], [NGAYLAP], [TENKH], [SDT], [TONGTIEN], [MANV]) VALUES (N'HDDV002   ', N'01/07/2020', N'Nguyễn Anh Dũng', N'01234568789 ', 200000000.0000, N'NV002     ')
INSERT [dbo].[HD_DICHVU] ([SOHD], [NGAYLAP], [TENKH], [SDT], [TONGTIEN], [MANV]) VALUES (N'HDDV003   ', N'06/04/2019', N'Vũ Quang Đạt', N'01245452677 ', 505000000.0000, N'NV002     ')
INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT], [NGAYLAP], [TONGTIEN], [MANV]) VALUES (N'HD001     ', N'Trần Đức Bo', N'0123456789  ', CAST(N'2020-08-16' AS Date), 500000000.0000, N'NV003     ')
INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT], [NGAYLAP], [TONGTIEN], [MANV]) VALUES (N'HD002     ', N'Trần Thanh Tâm', N'0579842785  ', CAST(N'2020-01-08' AS Date), 30000000.0000, N'NV003     ')
INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT], [NGAYLAP], [TONGTIEN], [MANV]) VALUES (N'HD003     ', N'Hồ Ngọc Hà', N'0124578416  ', CAST(N'2020-02-06' AS Date), 85000000.0000, N'NV003     ')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'K001      ', N'Kho A')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'K002      ', N'Kho B')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO]) VALUES (N'K003      ', N'Kho C')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [MAKHO]) VALUES (N'ML001     ', N'Chuột', N'K001      ')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [MAKHO]) VALUES (N'ML002     ', N'Bàn phím', N'K002      ')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI], [MAKHO]) VALUES (N'ML003     ', N'Tai nghe', N'K004      ')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC001    ', N'Logitech', N'TP. Hồ Chí Minh', N'0998787815  ')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC002    ', N'Asus', N'Hà Nội', N'0254745687  ')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC003    ', N'Ailenwere', N'Đà Nẵng', N'0123547895  ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [NGAYVAOLAM], [CHUCVU], [TAIKHOAN], [MATKHAU], [MANQL]) VALUES (N'NV001     ', N'Phạm Đức Thông', CAST(N'1999-01-01' AS Date), N'Nam', N'TP. Hồ Chí Minh', N'0987654321  ', CAST(N'2019-01-01' AS Date), N'Quản lý', N'ducthong  ', N'ducthong    ', N'NV001     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [NGAYVAOLAM], [CHUCVU], [TAIKHOAN], [MATKHAU], [MANQL]) VALUES (N'NV002     ', N'Hứa Tôn Đạt', CAST(N'1999-01-01' AS Date), N'Nam', N'TP. Hồ Chí Minh', N'0123456789  ', CAST(N'2019-01-01' AS Date), N'Nhân viên kỹ thuật', N'tondat    ', N'tondat      ', N'NV001     ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [NGAYVAOLAM], [CHUCVU], [TAIKHOAN], [MATKHAU], [MANQL]) VALUES (N'NV003     ', N'Trần Hoàng Anh', CAST(N'1999-05-08' AS Date), N'Nam', N'TP. Hồ Chí Minh', N'0886067243  ', CAST(N'2020-01-01' AS Date), N'Nhân viên bán hàng', N'hoanganh  ', N'hoanganh    ', N'NV001     ')
INSERT [dbo].[PHIEUDATHANG] ([SOPHIEU], [NGAYLAP], [MANQL], [TONGTIEN]) VALUES (N'PDH001    ', CAST(N'2020-12-06' AS Date), N'NV001     ', 500000000000.0000)
INSERT [dbo].[PHIEUDATHANG] ([SOPHIEU], [NGAYLAP], [MANQL], [TONGTIEN]) VALUES (N'PDH002    ', CAST(N'2020-08-06' AS Date), N'NV001     ', 850000000000.0000)
INSERT [dbo].[PHIEUDATHANG] ([SOPHIEU], [NGAYLAP], [MANQL], [TONGTIEN]) VALUES (N'PDH003    ', CAST(N'2019-10-25' AS Date), N'NV001     ', 3000000000.0000)
INSERT [dbo].[PHIEUNHAP_KHO] ([MAPN], [MANCC], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PN001     ', N'NCC001    ', CAST(N'2020-01-01' AS Date), N'NV004     ', N'Kiểm đủ')
INSERT [dbo].[PHIEUNHAP_KHO] ([MAPN], [MANCC], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PN002     ', N'NCC002    ', CAST(N'2020-02-07' AS Date), N'NV004     ', N'Kiểm đủ')
INSERT [dbo].[PHIEUNHAP_KHO] ([MAPN], [MANCC], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PN003     ', N'NCC003    ', CAST(N'2020-07-07' AS Date), N'NV004     ', N'Kiểm đủ')
INSERT [dbo].[PHIEUXUAT_KHO] ([MAPX], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PX001     ', CAST(N'2020-01-01' AS Date), N'NV004     ', N'Đủ số lượng')
INSERT [dbo].[PHIEUXUAT_KHO] ([MAPX], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PX002     ', CAST(N'2019-04-06' AS Date), N'NV004     ', N'Đủ số lượng')
INSERT [dbo].[PHIEUXUAT_KHO] ([MAPX], [NGAYLAP], [MANV], [GHICHU]) VALUES (N'PX003     ', CAST(N'2020-02-08' AS Date), N'NV004     ', N'Đủ số lượng')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG], [MALOAI]) VALUES (N'SP001     ', N'Chuột Razer', 100000000.0000, 20, N'ML001     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG], [MALOAI]) VALUES (N'SP002     ', N'Chuột Logitech', 200000000.0000, 40, N'ML001     ')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG], [MALOAI]) VALUES (N'SP003     ', N'Bàn phím Dell', 500000000.0000, 11, N'ML002     ')
ALTER TABLE [dbo].[CT_HD_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDV_DV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CT_HD_DICHVU] CHECK CONSTRAINT [FK_CTHDDV_DV]
GO
ALTER TABLE [dbo].[CT_HD_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CTHDDV_HDDV] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HD_DICHVU] ([SOHD])
GO
ALTER TABLE [dbo].[CT_HD_DICHVU] CHECK CONSTRAINT [FK_CTHDDV_HDDV]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPDH_PDH] FOREIGN KEY([SOPHIEU])
REFERENCES [dbo].[PHIEUDATHANG] ([SOPHIEU])
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG] CHECK CONSTRAINT [FK_CTPDH_PDH]
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPDH_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG] CHECK CONSTRAINT [FK_CTPDH_SP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP_KHO] ([MAPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_SP]
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT_KHO] ([MAPX])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT] CHECK CONSTRAINT [FK_CTPX_SP]
GO
ALTER TABLE [dbo].[HD_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DV_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HD_DICHVU] CHECK CONSTRAINT [FK_DV_NV]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[LOAISP]  WITH CHECK ADD  CONSTRAINT [FK_LSP_K] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[LOAISP] CHECK CONSTRAINT [FK_LSP_K]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_QL] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_QL]
GO
ALTER TABLE [dbo].[PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PDH_QL] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDATHANG] CHECK CONSTRAINT [FK_PDH_QL]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHO] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PN_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP_KHO] CHECK CONSTRAINT [FK_PN_NV]
GO
ALTER TABLE [dbo].[PHIEUXUAT_KHO]  WITH CHECK ADD  CONSTRAINT [FK_PX_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT_KHO] CHECK CONSTRAINT [FK_PX_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LSP_SP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_LSP_SP]
GO
